ASPNETCORE_ENVIRONMENT=Development
POSTGRES_DB=qphising
POSTGRES_USER=qphising
POSTGRES_PASSWORD=change-me-local
POSTGRES_PORT=5432
API_PORT=5050
GATEWAY_PORT=8080
REDIS_PORT=6379
JWT_AUTHORITY=http://host.docker.internal:6060/realms/QPhising
JWT_AUDIENCE=account
JWT_REQUIRE_HTTPS_METADATA=false
API_SWAGGER_ENABLED=true
API_APPLY_MIGRATIONS_ON_STARTUP=true
SETUP_ALLOW_RUNTIME_OVERRIDES=false
GATEWAY_FORWARD_ACCESS_TOKEN=true
TRACKING_HASH_PEPPER=
